@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
 
:root{

    /* Colores */
    --main-color: #833e28;
    --buttons-color: #994D1C;
    --second-color: #dfa069;
    --footer-color: #F5CCA0;

}


  
html {
    box-sizing: border-box;
    
  }

  body {
    font-family: "Kay Pho Du", serif;
    font-style: normal;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: rgb(248, 248, 248);
}

.dancing-script-hero {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
  }

  p {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

h3, h4, h5, h6 {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

header > .logo-nav{
    background-color: var(--main-color);
    

}

header{
    display: flex;
    flex-direction: column;
}
.logo-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 3%;

}
.logo-nav > .logo > a{
    font-size: 50px;
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #444343;
}

header > .hero{
    background-image: linear-gradient(#d3d3d386, #bebebe71), url(https://images.unsplash.com/photo-1570038283490-0c2b8fe95b2b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D ) ;
    /* background: linear-gradient(#d3d3d363, #9198e544); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: linear-gradient;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

header > .hero > a{
    border: #000000 solid 2px;
    padding: 10px;
    border-radius: 10%;
    text-decoration: none;
    text-emphasis: 10px;
    color: #000000;
}

main{
    background-color: var(--second-color);
}
.about-us{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    height: 70vh;
    
}

.about-us > .item-text{
    padding: 20px;
    text-wrap: wrap;
    background-color: var(--second-color);
}

.about-us > .item-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sect-feedback{
    background-color: var(--main-color);
    padding-top: 10px;
    margin-bottom: 0;
    
}


.testimonios > .feedback > .feedback-img > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.testimonios > .feedback > .feedback-img{
    height: 100px;
    width: 100px;
    
}

.testimonios{
    display: flex;
    justify-content: space-evenly;
}

.feedback{
    display: flex;
    border-radius: 20%;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: auto;
    gap: 30px;
    padding: 10px 20px 20px;
    margin: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--footer-color);


}

.testimonios > .feedback > .feedback-text {
    width: 70%;
    font-size: 100%;

}

.testimonios > .feedback > .feedback-text > h3, .testimonios > .feedback > .feedback-text > h5, .testimonios > .feedback > .feedback-text > p{
    word-wrap: break-word;
    margin: 0;
}

.titles{
    text-align: center;
    margin: 0;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;

}

.titles > h3 {
    margin: 20px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    
}

.card-container > .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10%;
    background-color: var(--footer-color);
    

}

.card-container > .card > .card-img{
    width: 100%;
    height: 300px;
    
}

.card-container > .card > .description h6, h5{
    margin: 10px;
}

.card-container > .card > .card-img > img{
    height: 100%;
    width: 100%;
    object-position: right;
    object-fit: cover;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.clients{
    background-color: var(--main-color);
    padding: 10px;
    margin: 20px 0;
    height: 300px;
}

.clients > .clients-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.clients > .clients-container > .client > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.clients > .clients-container > .client {
    width: 200px;
    height: 200px;
    
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 400px); 
    width: 90%;
    margin: 0 auto;
}


.products-container > .prod-1 {
    grid-column: 1;
    grid-row: 1/4;
}

.products-container > .prod-2 {
    grid-column: 2/4;
    grid-row: 1;
    
}

.products-container > .prod-3 {
    grid-column: 2;
    grid-row: 2;
}

.products-container > .prod-4 {
    grid-column: 3;
    grid-row: 2;
    
}

.products-container > .prod-5 {
    grid-column: 2/4;
    grid-row: 3;
}

.products-container > .products > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    padding: 20px;
    background-color: var(--main-color);
}

footer > .item-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > .item-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer > .item-3 > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style-type: none;
    text-decoration: none;
}

footer > .item-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer > .item-4 > ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
    text-decoration: none;
}


.rs a img {
    width: 30px;
    height: 30px;
}